.app-container {
  display: flex;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.deep-main-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.loading-screen {
  color: aliceblue;
  font-size: 80px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
